[submodule "src/Common_FPGA_Modbus"]
	path = src/Common_FPGA_Modbus
	url = https://github.com/lsst-ts/Common_FPGA_Modbus.git
	branch = master
[submodule "src/Common_FPGA_HealthAndStatus"]
	path = src/Common_FPGA_HealthAndStatus
	url = https://github.com/lsst-ts/Common_FPGA_HealthAndStatus.git
	branch = master
[submodule "src/Modbus_Processing_Unit"]
	path = src/Modbus_Processing_Unit
	url = https://github.com/lsst-ts/Modbus_Processing_Unit.git
	branch = master